################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentTags/obj/Debug
/Tests.FluentTags/obj/Debug
